@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    background-color: #43C0f6;
    color: #606060
}

.cards {
    background-color: #b2e4fa;
    margin: 0 auto;
    /* max-width: 1000px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border-radius: 25px;
    /* gap:20px */
    padding: 50px;
    /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  max-width: 1000px; */
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 30px auto;
    overflow: auto;
    min-height: 230px;
    border: 1px solid steelblue;
    background: white;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 0;
    height: 150px;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.card_image {
    /* width: 20px;
  height: 20px; */
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}