/* Progress Tracker */

.head_div {
    background-color: #b2e4fa;
    margin: 0 auto;
    /* max-width: 1000px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 25px;
    /* gap:20px */
    padding: 50px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-bottom: 0;
    max-width: 1200px
}

.cards_horizontal {
    background-color: #b2e4fa;
    margin: 0 auto;
    /* max-width: 1000px; */
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    border-radius: 25px;
    /* gap:20px */
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
  align-items: center; */
    margin: 30px auto;
    margin-top: 0;
    max-width: 1200px
}

.card_horizontal {
    display: flex;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    min-width: 1000px;
    margin: 30px auto;
    margin-left: 0;
    overflow: auto;
    min-height: 150px;
    border: 1px solid steelblue;
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 0;
}

.card_progress {
    padding-top: 50px;
    padding-left: 30px;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
}

.projectsCompleted {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-between;
}

.tracker {
    display: flex;
    /* justify-content: space-evenly;
    justify-content: space-between; */
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
    height: 45px;
    width: 45px;
}
/* .card_title {
  box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 30px auto;
  margin-right: 0;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  background: white;
  padding: 30px;
  border-radius: 10px;
  border: 0;
} */