

/* NEW */

body {
    margin: 0;
    font-family: "Poppins";
    font-size: 22px;
    text-align: center;
    /* Curve  */
    /* color: white; */
    /* background: #202731; */
    overflow-x: hidden;

}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.blue {
    background: #3c31dd;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100% bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #0f0f10;
    z-index: -1;
}

main {
    margin: 5vh 15%;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}

p {
    text-align: justify;
    font-size: 18px;
}

label {
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}

label:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    transition: 0.4s;
}

label.active:before {
    left: 24px;
    background: #fff;
}

body.night {
    background: #000;
    color: #fff;
}


@media screen and (min-width: 900px) {
    .respon {
        display: flex;
    }

    img {
        height: 50%;
        width: auto;
        /* padding-top: 3vh;
        padding-right: 5%; */
        border-radius: 80px;
        margin-top: 5%;
    }

    p {
        max-width: 80%;
        line-height: 30px;
    }
}

/* .hero {
    display: flex;
    justify-content: center;
} */
.btn:hover {
    background-color: #999999;
    color: white;
}

.btn {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: medium;
    border: 0;
    border-radius: 0;
    height: 35px;
    width: 180px;
    color: #ffffff;
    background-color: #FF0020
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 417px;
}

.wave .shape-fill {
    fill: #000000;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url("./layer1.svg");
}

.layer2 {
    background-image: url('./layer2.svg');
}

.flip {
    transform: rotate(180deg);
}

/* OLD */

img.profile-round-corners {
    border-radius: 80px;
    margin-top: 5%;
}

.connectors {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100px;
}

 /* .icons {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100px;
}  */

/* social media animation */
.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #e1306c;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #FF0000;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

/* Form CSS */
#contact-form>h1 {
    margin-top: 100px;
}

#contact-form>h5 {
    color: #999999;
}

/* Style the input elements and the submit button  */

input[type=text],
input[type=submit] {
    width: 30%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    background-color: #FAFAFC;
    border-radius: 1%;
    color: #999999;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #FF0020;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
    background-color: #999999; */